.location {
  font-weight: 400 !important;
  font-size: 35px !important;
}

.location-box .location {
    color: #FFF;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
  }
  
  .location-box .date {
    color: #FFF;
    font-size: 20px;
    font-weight: 150;
    font-style: italic;
    text-align: center;
    text-shadow: 1px 1px rgba(50, 50, 70, 0.5);
  }

  .weather-box {
    text-align: center;
  }
  
  .weather-box .temp {
    position: relative;
    display: inline-block;
    margin: 30px auto;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
  
    padding: 15px 25px;
  
    color: #FFF;
    font-size: 80px;
    font-weight: 700;
    text-shadow: 2px 4px rgba(50, 50, 70, 0.5);
    text-align: center;
    box-shadow: 3px 6px  rgba(0, 0, 0, 0.1);
  }
  
  .weather-box .weather {
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    text-shadow: 2px 3px rgba(50, 50, 70, 0.5);
  }

  .wind {
    color: #FFF;
    font-size: 35px;
    font-weight: 700;
    text-shadow: 2px 3px rgba(50, 50, 70, 0.5);
  }
  