* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.app {
  background-image: url('./assets/cold.jpg.png');
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease;
}

.app.warm {
  background-image: url('./assets/warm.jpg.png');
}

main {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75));
  padding: 25px;
}

h1 {
  color: #FFF;
  position: relative;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 4px rgba(50, 50, 70, 0.5);
}



